:root{
	--backgroud-color: #e63946;
	--text-color: #1d3557;
	--btn-color: #696D7D;
	--btn-background: #bab1ba;
}

body{
    background-color: var(--backgroud-color);
}

.start-btn{
    position: absolute;
    top: 50%;
    left: 50%;
}

.start-btn button{
	box-shadow: 5px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#696D7D;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	padding:14px 36px;
	text-decoration:none;
	text-shadow:0px 0px 0px #e1e2ed;
}
.start-btn button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.start-btn button:active {
	position:relative;
	top:1px;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.box{
    font-size: 20px;
    color: var(--text-color);
    background-color: #ffffff;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 20%;
    height: auto;
    padding: 4em;
	border: 10px solid #a8dadc;
}

.info-box button{
    position: absolute;
    cursor: pointer;
    bottom: 2px;
    right: 2px;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    padding: 13px 25px;
}

.info-box button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.question-box hr{
	
	box-shadow: 0px,0px,10px,0px;
	height: 5px;
}

#question{
	margin: 2em;
	background-color: var(--backgroud-color);
	color: #f1faee;
}

.frame {
	margin: 2em;
	width: 100%;
	height: 1empx;
	color: var(--text-color);
	background-color: white;
}

.frame:hover{
	background-color: #a8dadc;
}
