:root{
	--backgroud-color: #ED7B84;
	--text-color: black;
	--question-box-bg-color: #F5DBCB;
	--btn-color: #696D7D;
	--btn-background: #bab1ba;
}

body{
    background-color: var(--backgroud-color);
}

.start-btn{
    position: absolute;
    top: 50%;
    left: 50%;
}

.btn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:13px;
	border:2px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	padding:9px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
.btn:active {
	position:relative;
	top:1px;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.box{
    font-size: 25px;
    color: var(--text-color);
    
    position: absolute;
    top: 20%;
    left: 30%;
    width: 20%;
    height: auto;
    padding: 4em;
	
}

.info-box button{
    position: absolute;
    cursor: pointer;
    bottom: 2px;
    right: 2px;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
    padding: 13px 25px;
}

.info-box button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}

#question{
	margin-bottom: 2em;
	margin-left: 2.5em;
	color: var(--text-color);
	font-weight: bold;
}

.frame {
	margin: 1em;
	padding: 1em;
	text-align: center;
	width: 100%;
	height: 1empx;
	color: var(--text-color);
	background-color: white;
	border-radius: 2em;
}

.frame:hover{
	background-color: #F5DBCB;
    cursor: pointer;
}

.correct{
    animation: correct 1s step-start infinite;
}

.incorrect{
    animation: incorrect 1s step-start infinite;
}

#next-que{
    float: right;
}

@keyframes correct {
    50%{
        opacity: 0;
    }
    100%{
        background-color: #62A763;
    }
}

@keyframes incorrect{
    50%{
        opacity: 0;
    }
    100%{
        background-color: #E74B58;
    }
}

@keyframes incorrect{
    50%{
        opacity: 0;
    }
    100%{
        background-color: #E74B58;
    }
}
